a(name="advice")
section.promo
  h3="Продвижение"
  .container-float
    .ad.rek
      .icons
        .yandex.icon
        .google.icon
      p!="Настройка контекстной рекламы <br> <b>Яндекс.Директ</b> и <b>Google Adwords</b>"
    .social.rek
      .icons
        .facebook.icon
        .insta.icon
      p!="Таргетированная реклама <br> <b>Facebook Instagram</b>"
    
